In [1]:
#import dependencies
import pandas as pd
from sqlalchemy import create_engine
from datetime import datetime
import numpy as np
import datetime 
import psycopg2 as pg
import pandas.io.sql as psql
import matplotlib as plt

In [2]:
#connect and load csv file
bitcoin_file = "Resources/clean_bitcoin.csv"
bitcoin_df = pd.read_csv(bitcoin_file)
bitcoin_df.head(10)

   Unnamed: 0    date    close
0     4206496  1/4/20  7333.47
1     4206497  1/4/20  7331.62
2     4206498  1/4/20  7342.85
3     4206499  1/4/20  7334.58
4     4206500  1/4/20  7337.62
5     4206501  1/4/20  7332.26
6     4206502  1/4/20  7312.82
7     4206503  1/4/20  7316.52
8     4206504  1/4/20  7318.01
9     4206505  1/4/20  7320.29

# Transform data

In [6]:
#list data types
#bitcoin_df.dtypes
#convert "date" column from object to datetime type
bitcoin_df[["date"]] = bitcoin_df[["date"]].apply(pd.to_datetime)

In [7]:
bitcoin_df

        Unnamed: 0       date    close
0          4206496 2020-01-04  7333.47
1          4206497 2020-01-04  7331.62
2          4206498 2020-01-04  7342.85
3          4206499 2020-01-04  7334.58
4          4206500 2020-01-04  7337.62
...            ...        ...      ...
155369     4363452 2020-04-21  6856.35
155370     4363453 2020-04-21  6850.89
155371     4363454 2020-04-21  6857.45
155372     4363455 2020-04-21  6854.98
155373     4363456 2020-04-22  6850.60

[155374 rows x 3 columns]

In [16]:
#drop unnamed:0 column
new_bitcoin_df = bitcoin_df.drop(columns=['Unnamed: 0'])
#rename column to match sql database table
new_bitcoin_df.rename(columns={'close': 'bitcoin_close'}, inplace=True)
new_bitcoin_df

             date  bitcoin_close
0      2020-01-04        7333.47
1      2020-01-04        7331.62
2      2020-01-04        7342.85
3      2020-01-04        7334.58
4      2020-01-04        7337.62
...           ...            ...
155369 2020-04-21        6856.35
155370 2020-04-21        6850.89
155371 2020-04-21        6857.45
155372 2020-04-21        6854.98
155373 2020-04-22        6850.60

[155374 rows x 2 columns]

In [17]:
#drop duplicates
new_bitcoin_data = new_bitcoin_df.drop_duplicates(subset='date', keep='last', inplace=False)
new_bitcoin_data.head()

           date  bitcoin_close
1397 2020-01-04        7344.48
2808 2020-01-05        7356.70
4237 2020-01-06        7762.74
5676 2020-01-07        8159.01
7114 2020-01-08        8044.44

# Load into sql database

In [18]:
#load into postgreslq
# Connect to database (Note: The package psychopg2 is required for Postgres to work with SQLAlchemy)
engine = create_engine("postgresql://postgres:postgres@localhost/bitcoin")
con = engine.connect()

In [19]:
#double check table
engine.table_names()

['bitcoin']

In [20]:
#load df into sql
new_bitcoin_data.to_sql(name='bitcoin', con=engine, if_exists='append', index=False)